roles/edgy-simple-ca/files
.DS_Store
imaging/opencode/compositions/bindmount-workspace/.env
imaging/opencode/compositions/bindmount-workspace/opencode-config/
.idea
edgy-ansible.iml

edgy-image-setup
imaging/livy/incubator-livy
