services:
  rm1:
    image: tiny-yarn:latest
    hostname: rm1
    container_name: rm1
    environment:
      - "JAVA_HOME=/usr"
      - "HADOOP_LOG_DIR=/tmp/rm1logs"
    entrypoint: "/opt/hadoop/bin/yarn"
    command: [ "resourcemanager" ]
    networks:
      - simple-fullstack
    ports:
      - "8088:8088"
    volumes:
      - ./hd_conf:/opt/hadoop/etc/hadoop
      - rm1-data:/yarn

  nm1:
    image: tiny-yarn:latest
    hostname: nm1
    container_name: nm1
    environment:
      - "JAVA_HOME=/usr"
      - "HADOOP_LOG_DIR=/tmp/nm1logs"
    entrypoint: "/opt/hadoop/bin/yarn"
    command: [ "nodemanager" ]
    networks:
      - simple-fullstack
    ports:
      - "8042:8042"
    volumes:
      - ./hd_conf:/opt/hadoop/etc/hadoop

  nn1:
    image: tiny-hdfs:latest
    hostname: nn1
    container_name: nn1
    environment:
      - "JAVA_HOME=/usr"
      - "HADOOP_LOG_DIR=/tmp/nn1logs"
      - "SPECIAL_MAYBE_FORMAT_LOCAL_NN=true"
    entrypoint: "/opt/edgy/bin/special.sh"
    command: [ "/opt/hadoop/bin/hdfs", "namenode" ]
    networks:
      - simple-fullstack
    ports:
      - "8020:8020"
      - "9870:9870"
    volumes:
      - ./hd_conf:/opt/hadoop/etc/hadoop
      - nn1-data:/hdfs-root
  dn1:
    image: tiny-hdfs:latest
    hostname: dn1
    container_name: dn1
    environment:
      - "JAVA_HOME=/usr"
      - "HADOOP_LOG_DIR=/tmp/dn1logs"
    entrypoint: "/opt/hadoop/bin/hdfs"
    command: [ "datanode" ]
    networks:
      - simple-fullstack
    #ports:
    #  - "8020:8020"
    #  - "9870:9870"
    volumes:
      - ./hd_conf:/opt/hadoop/etc/hadoop
      - dn1-data:/hdfs-root

volumes:
  nn1-data: {}
  rm1-data: {}
  dn1-data: {}
networks:
  simple-fullstack:
    driver: bridge